<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Incident Response Prediction</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/upload.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <div class="container-fluid">
      <h1 class="h1 mb-3 font-weight-normal"><u>Incident Response Prediction</u></h1>
      <form class="form-upload" method=post enctype=multipart/form-data>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h3 class="h4 mb-3 font-weight-normal">Please upload CSV file and click predict</h3>
        <input type="file" id="csvfile" name = "csvfile" class="form-control" required autofocus>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Predict</button>
      </form>
    <br>
    <br>
    <br>

          	<!-- Footer -->
	<footer class="footer">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6 h-100 text-center my-auto mx-auto">
					<p class="text-muted small mb-2 mb-lg-0">&copy; Developed by Abhilash Rajan</p>
				</div>
			</div>
		</div>
	</footer>

    </div>
  </body>


</html>
